* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; /* Use a fonte escolhida */
  scroll-behavior: smooth;


}

.slick-next {
  right: -25px; /* Posição padrão no desktop */
}

@media (max-width: 768px) {
  .slick-next {
      right: 10px; /* Ajuste para dispositivos móveis */
  }
}